<h1>Stats Keeper</h1>

<ul>
  {{#each team in this}}
    <li>{{#link-to 'team' team.id}}{{team.name}}{{/link-to}}</li>
  {{/each}}
</ul>

  <p><a href='#' {{action 'sortByName'}}>Sort by team name</a></p>

  {{#link-to 'new-team' classNames="btn btn-primary"}}New Team{{/link-to}}
